/* mis estilos CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
    background-color: black;
    font-family: Raleway, Helvetica, sans-serif;
    letter-spacing: 5%;
    line-height: 1.5rem;
    color: white;

}

header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 40%;
}


/* Instrucciones a realizar*/
.info {
    color: white;
    text-align: center;
    padding: 1rem;

}
/*Animación vaso*/

.animation-container {  
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    position: relative;
}

/* Swipe!*/
.instructions {
    position: absolute;
    top: 2rem;
}

.swipe {
    position: relative;
    padding-top: 1.8rem;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swipe p {
    position: absolute;
    font-size: 10px;
    top: 0;
    right: 5.5rem;
}
.swipe img {
    width: 25%;
}

/* Animation material*/

.fill-glass {
    width: 100%;
    height: 70vh;
    position: relative;
}

.ingridients, .glass {
    top: 5rem;
    width: 50%;
    height: 300px;
    position: absolute;
}

.ingridients {
    will-change: left, bottom;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.ingridients img {
    width: 3.5rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
}


.glass {
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.9rem;
    z-index: 1;
}
.glass img {
    height: 200px;
}

.hover {
    border: 1px solid red;
    /* transition: ease-in 1s; */
    /* transform: scale(1.6); */
}

.in_drag {
    z-index: 5;
    box-shadow: 10px 10px 42px -8px rgba(0,0,0,0.54);
}

.invisible {
    display: none;
}

button {
    background: transparent;
    font-family: Raleway, sans-serif;
    padding: 0.6rem 1rem;
    color: white;
    border: 1.5px solid white;
}
.cocktail {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background-light {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow:
      0 0 60px 30px rgba(255, 255, 255, 0.877),
      0 0 100px 60px rgba(255, 255, 0, 0.5),
      0 0 140px 100px rgba(0, 255, 255, 0.514);

    animation-name: stretch;
    animation-duration: 2.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
}

.background-light img {
    height: 300px;
    -webkit-animation: rotation 2.5s linear;
}

.star-one, 
.star-two { 
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/img/blink.png');
    
}
.star-one{
    top: 9rem;
    left: 5.8rem;
    -webkit-animation: shine 2.7s infinite linear;
    animation: shine 2.7s infinite linear;
}
.star-two {
    top: 3.8rem;
    right: 5.8rem;
    -webkit-animation: shine 3s infinite linear;
    animation: shine 3s infinite linear;
}

.btn-container {
    width: 100%;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}



@media (min-width: 1080px) {
    header {
        height: 20vh;
    }
    header img {
        width: 15rem;
    }
    .info {
        height: 20vh;
    }
    .info p {
        font-size: 2.5rem;
        letter-spacing: 10%;
        line-height: 3.5rem;
    
    }
    .animation-container {
        height: 60vh;
    
    }
    .instructions{
        height:20vh;
    }
    .swipe p {
        font-size: 14px;
        top: 1.3rem;
        right: 12rem;
    }
    .fill-glass {
        height: 70vh;
    }
    .ingridients, .glass {
        height: 400px;
    }
    .ingridients img {
        /* max-height: 12rem; */
        min-width: 6rem;
    }
    .add-ingridient {
        max-height: 300px;
        position: relative;
        z-index: 2;
        cursor: pointer;
    }
    .cocktail {
        height: 20rem;
        width: 15rem;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .background-light{
        width: 100px;
        height: 100px;
       
    }
    .background-light img {
        height: 400px;
        padding-bottom: 2rem;
        /* display: none; */
    }
    .btn-container {
        position: fixed;
        bottom: 0;
        padding: 2rem;
        margin-bottom: 1rem;
    }

    .star-one{
        top:5.5rem;
        left: 2.5rem;
        
    }
    .star-two {
        top: 0;
        right: 2.5rem;
    }

}



@keyframes stretch {
    0% {
      transform: scale(.1);
      border-radius: 100%;
    }
    50% {
    }
    100% {
      transform: scale(1);
    }
  }
  
  @-webkit-keyframes rotation {
      from {
          -webkit-transform: rotate(0deg);
      }
      to {
          -webkit-transform: rotate(359deg);
      }
  }

  @-webkit-keyframes shine {
    0% {
      opacity: 0;
      transform: scale(0,0);
    } 
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1,1);
    }
}
@keyframes shine {
    0% {
      opacity: 0;
    } 
    50% {
        opacity: 1;
        /* transform: scale(0,1); */
    }
    100% {
      opacity: 0;
      transform: scale(1,1);
    }
  }